---
import Layout from '../layouts/Layout.astro';
import Budge from '../components/Budge.astro';
import LinkedIn from '../components/icons/LinkedIn.astro';
import Github from '../components/icons/Github.astro';
import SocialPell from '../components/SocialPell.astro';
import CloseEmail from '../components/icons/CloseEmail.astro';
import Experience from '../components/Experience.astro';
import WorkIcon from '../components/icons/WorkIcon.astro';
import CodeIcon from '../components/icons/CodeIcon.astro';
import Projects from '../components/Projects.astro';
import AboutMeIcon from '../components/icons/AboutMeIcon.astro';
import AboutMe from '../components/AboutMe.astro';
---

<Layout title="Kelvin Zurita - Programador y Desarrollador Full-Stack">
	<main>
		<section class="lg:w-[740px] w-5/6 mx-auto pt-40 pb-20">
			<h1 class="text-white text-3xl md:text-5xl font-bold flex justify-center flex-row gap-x-2 pb-10 items-center">
				<span class="hidden md:inline-flex">Hola!. Soy </span>Kelvin Zurita <div class="flex justify-center items-center"><Budge>Full-Stack Developer</Budge></div>
			</h1>
			<h2 class="text-xl opacity-80 text-wrap text-white">
				1 año de experiencia como desarrollador full stack. 
        Mi frase favorita es <span class="text-teal-200/90">"Mejor que ayer y peor que mañana" 
        </span>
        porque representa lo que pienso sobre esforzarse cada día. Por esto mismo me encantan los retos y poner a prueba mis conocimientos.
      </h2>
			<mav class="flex gap-x-2 pt-2">
				<SocialPell href="https://www.linkedin.com/in/kelvin-zurita-0768541b0?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">
					LinkedIn
					<LinkedIn />
				</SocialPell>
				<SocialPell href="https://github.com/ZuritaKelvin">
					Github
					<Github />
				</SocialPell >
				<SocialPell href="mailto:kelvinzurita2015@gmail.com">
					Gmail
					<CloseEmail />
				</SocialPell >
			</mav>
			</section>
			<section  class="lg:w-[740px] w-5/6 mx-auto" id="experience">
				<h2 class="text-white text-2xl font-semibold mb-6 flex gap-x-3 items-center">
					<WorkIcon />
					Experiencia Laboral</h2>
				<Experience />
			</section>
			<section  class="lg:w-[740px] w-5/6 mx-auto py-16" id="projects">
				<h2 class="text-white text-2xl font-semibold mb-6 flex gap-x-3 items-center">
					<CodeIcon />
          Proyectos</h2>
				<Projects />
			</section>
			<section  class="lg:w-[740px] w-5/6 mx-auto mb-32" id="about">
				<h2 class="text-white text-2xl font-semibold mb-6 flex gap-x-3 items-center">
					<AboutMeIcon />
					Sobre mi</h2>
					<AboutMe />
			</section>
	</main>
</Layout>
