<div class="[&>p]:mb-4 [&>p>strong]:text-blue-200 text-pretty">
    <p>
        <strong>Mi nombre es Kelvin Zurita</strong>, tengo 23 años.
        Recientemente termine mis estudios y me encuantro trabajando
        como desarrollador full stack mientras continuo mejorando mis habilidades.
    </p>

    <p>
       <strong>"Un desarrollador con grandes conocimientos y experiencia
        con la capacidad de crear experiencias y encontrar soluciones en las peores situaciones
        y un gran compañero. Alguien en quien confiar."</strong>
       Esta es la definicion de todo gran desarrollador de exito y es mi objetivo que
       tambien se combierta en mi definicion.
    </p>
</div>